* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  background-color: black;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: auto;
}

.box {
  background-color: blue;
  padding: 5%;
}
